/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: black;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "../node_modules/ol/ol.css";

.error{
    background: rgb(221, 73, 73);
}

.success{
    background: rgb(90, 185, 90);
}

.informative{
    background: rgb(67, 67, 184);
}
