.map {
    /* width: 100%; */
    width: 100%;
    /* height: 93.5vh; */
    height:  100%;
}

br {
    display: block;
    margin-top: 1px;
}

.sidenav-logo {
    max-width: 200px;
    padding-bottom: 20px;
  }
  