<!--<mat-grid-list style="background: #b334da;;" cols="4" rowHeight="2:1" >
  <mat-grid-tile *ngFor="let option of options">
      <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title >{{option.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{option.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button *ngFor="let buttons of option.options">
          <mat-icon color="primary">{{buttons.icono}}</mat-icon>
          <span class="sidenav-items-adjust">
          {{buttons.name}}
          </span>
          </button>
      </mat-card-actions>
    </mat-card></mat-grid-tile>
</mat-grid-list>-->
<div class="main-div">
  <mat-card class="parent2">
    <mat-card-title>INTERFAZ DE USUARIO</mat-card-title>
    <mat-form-field style="width: 75%;">
      <mat-label>Filtro</mat-label>
      <input  matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Admin" #input>
    </mat-form-field>
    <button class="mdc-button">
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true" style="color: green">add_box</i>
      <span class="mdc-button__label">Crear Usuario</span>
    </button>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <mat-card class="mat-elevation-z4">
      <!-- Position Column -->
      <ng-container matColumnDef="iduser">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.iduser}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef> first_name </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="idrole">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.idrole}} </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef >Opciones</th>
        <td mat-cell *matCellDef="let element" > 
          <button mat-icon-button color="primary" (click)=EditUser(element) aria-label="Editar Usuario">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)=DeleteUser(element) aria-label="Eliminar Usuario">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </mat-card>

      
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons></mat-paginator>

  </mat-card>
</div>